@charset 'utf-8'; 
html, body, div{
    margin: 0;
    padding: 0;
}
img{
    border: none;
    width: 50%;
    height: 40%;
}
.container{
    width: 980px;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    color: #fff;
}
